@import "reset";
@import "bourbon";

//
// Mixins.
//
@mixin userselect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -khtml-user-select: $value;
  -ms-user-select: $value;
}

//
// OOCSS.
//
.clearfix {
  @include clearfix();
}

//
// Variables.
//
$transitiontime: .17s;

//
// Styling.
//
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
}

#wrapper {
  margin: 0 auto;
  height: 100vh;
}

/** Textarea **/;
textarea {
  height: 100vh;
  width: 61.803398875%;
  padding-left: 5.572809vw;
  padding-top: 2.128623625vw;
  padding-right: 5.572809vw;
  background-color: #000;
  float: left;
  line-height: 1.38196601125;
  font-size: 1.2360679775vw; // .61803398875 * .38196601125)
  color: #bbb;
  margin: 0 auto;
  display: block;
  border: none;
  box-shadow: none;
  focus-outline: none;
  focus-box-shadow: none;
  outline: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}


/** Nav **/;
#navigation {
  @include clearfix;
  height: 100vh;
  padding-left: 2.128623625vw;
  padding-right: 2.128623625vw;
  padding-top: 1.315561749vw;
  background-color: #000;
  min-height: 100%;
  width: calc(100% - 61.803398875%);
  float: left;
  color: rgba(51, 85, 85, .82);
  font-size: 17px;
  overflow: scroll;
  text-align: right;
}

/** Tabs **/
#tabs {
  @include userselect(none);
  @include clearfix();
  position: relative;
  top: -7px; // offset for browser padding top.
}

.tab {
  cursor: pointer;
  display: inline-block;
  padding: 7px 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0,0,0,.03);
  transition: all $transitiontime;
  &:before {
    content: '/';
    left: -10px;
  }
  &:hover {
    color: rgba(51, 85, 85, 1);
    transition: all $transitiontime;
  }
}

.tab.active {
  color: red;
}

#actions {
  cursor: pointer;

}

.icon {
}

#add {
  fill: rgba(51, 85, 85, .82);
  @include userselect(none);
  height: 24px;
  width: 24px;
  position: absolute;
  right: 3px;
  top: 5px;
}

#remove {
  fill: rgba(51, 85, 85, .82);
  @include userselect(none);
  height: 18px;
  width: 18px;
  position: absolute;
  right: 6px;
  top: 30px;
}

#download {
  fill: rgba(51, 85, 85, .82);
  @include userselect(none);
  height: 19px;
  width: 19px;
  position: absolute;
  right: 5px;
  top: 54px;
}

#type {
  fill: rgba(51, 85, 85, .82);
  @include userselect(none);
  height: 19px;
  width: 19px;
  position: absolute;
  right: 5px;
  top: 86px;
}


/** Font changer **/
.menlo {
  textarea {
    font-family: 'menlo', monospace;
  }
  #navigation {
    font-family: 'menlo', monospace;
  }
}

.monospace {
  textarea {
    font-family: monospace;
  }
  #navigation {
    font-family: monospace;
  }
}

.cousine {
  textarea {
    font-family: 'Cousine', monospace;
  }
  #navigation {
    font-family: 'Cousine', monospace;
  }
}

.robo {
  textarea {
    font-family: 'Roboto Mono', monospace;
  }
  #navigation {
    font-family: 'Roboto Mono', monospace;
  }
}
