@import "reset";
@import "bourbon";

//
// Mixins.
//
@mixin userselect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -khtml-user-select: $value;
  -ms-user-select: $value;
}

//
// OOCSS.
//
.clearfix {
  @include clearfix();
}

//
// Variables.
//
$transitiontime: .3s;

//
// Styling.
//
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
}

#wrapper {
  margin: 0 auto;
  height: 100vh;
}

/** Textarea **/;
textarea {
  min-height: 100%;
  width: 61.803398875%;
  float: left;
  font-size: 17px;
  font-family: 'courier new', serif;
  color: #1b1bb1;
  margin: 0 auto;
  display: block;
  border: none;
  box-shadow: none;
  focus-outline: none;
  focus-box-shadow: none;
  outline: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}


/** Nav **/;
#navigation {
  @include clearfix;
  min-height: 100%;
  width: calc(100% - 61.803398875%);
  float: left;
}

/** Tabs **/
#tabs {
  float: left;
  width: 85%;
  @include userselect(none);
  @include clearfix();
}

.tab {
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0,0,0,.03);
  color: rgba(0,0,0,.30);
  transition: all $transitiontime;
  &:hover {
    color: rgba(0,0,0,.7);
    transition: all $transitiontime;
  }
}

.tab.active {
  color: rgba(0,0,0,.85);
}

#actions {
  float: left;
  width: 15%;
  text-align: right;
  > * {
    height: 30px;
    width: 30px;
  }
}

.icon {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  float: left;
}

#add {
  display: inline-block;
  fill: rgba(0,0,0,.25);
  padding-top: 9px;
  @include userselect(none);
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
}

#remove {
  display: inline-block;
  fill: rgba(0,0,0,.25);
  padding-top: 9px;
  margin-left: -2px;
  @include userselect(none);
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
}

#download {
  display: inline-block;
  fill: rgba(0,0,0,.25);
  @include userselect(none);
  margin-left: -5px;
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
  svg {
    padding-top: 5px;
    width: 29px;
  }
}
