@import "reset";
@import "bourbon";

//
// Mixins.
//
@mixin userselect($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -khtml-user-select: $value;
  -ms-user-select: $value;
}

//
// OOCSS.
//
.clearfix {
  @include clearfix();
}

//
// Variables.
//
$transitiontime: .3s;

//
// Styling.
//
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#wrapper {
  margin: 0 auto;
  height: 100vh;
}

/** Textarea **/;
textarea {
  min-height: 100%;
  width: 61.803398875%;
  padding-left: 2.128623625vw;
  padding-top: 2.128623625vw;
  padding-right: 5.572809vw;
  background-color: #000;
  float: left;
  font-size: 1.2360679775vw; // .61803398875 * .38196601125)
  font-family: 'courier new', serif;
  color: #bbb;
  margin: 0 auto;
  display: block;
  border: none;
  box-shadow: none;
  focus-outline: none;
  focus-box-shadow: none;
  outline: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}


/** Nav **/;
#navigation {
  @include clearfix;
  padding-left: 2.128623625vw;
  padding-right: 2.128623625vw;
  font-family: 'courier new', serif;
  background-color: #000;
  min-height: 100%;
  width: calc(100% - 61.803398875%);
  float: left;
  color: #355;
  font-size: 17px;
}

/** Tabs **/
#tabs {
  float: left;
  width: 85%;
  @include userselect(none);
  @include clearfix();
}

.tab {
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0,0,0,.03);
  transition: all $transitiontime;
  &:before {
    content: '/';
    left: -10px;
  }
  &:hover {
    color: rgba(0,0,0,.7);
    transition: all $transitiontime;
  }
}

.tab.active {
  color: red;
}

#actions {
  float: left;
  width: 15%;
  text-align: right;
  > * {
    height: 30px;
    width: 30px;
  }
}

.icon {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  float: left;
}

#add {
  display: inline-block;
  fill: red;
  padding-top: 9px;
  @include userselect(none);
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
}

#remove {
  display: inline-block;
  fill: red;
  padding-top: 9px;
  margin-left: -2px;
  @include userselect(none);
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
}

#download {
  display: inline-block;
  fill: red;
  @include userselect(none);
  margin-left: -5px;
  transition: fill $transitiontime;
  &:hover {
    fill: rgba(0,0,0,.65);
    transition: fill $transitiontime;
  }
  svg {
    padding-top: 5px;
    width: 29px;
  }
}
