/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #000; }

#wrapper {
  margin: 0 auto;
  height: 100vh; }

/** Textarea **/
textarea {
  min-height: 100%;
  width: 61.803398875%;
  float: left;
  font-size: 17px;
  font-family: 'courier new', serif;
  color: #1b1bb1;
  margin: 0 auto;
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  focus-outline: none;
  focus-box-shadow: none;
  outline: none;
  overflow: -moz-scrollbars-none; }
  textarea::-webkit-scrollbar {
    width: 0 !important; }

/** Nav **/
#navigation {
  min-height: 100%;
  width: calc(100% - 61.803398875%);
  float: left; }
  #navigation::after {
    clear: both;
    content: "";
    display: table; }

/** Tabs **/
#tabs {
  float: left;
  width: 85%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }
  #tabs::after {
    clear: both;
    content: "";
    display: table; }

.tab {
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .tab:hover {
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.tab.active {
  color: rgba(0, 0, 0, 0.85); }

#actions {
  float: left;
  width: 15%;
  text-align: right; }
  #actions > * {
    height: 30px;
    width: 30px; }

.icon {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  float: left; }

#add {
  display: inline-block;
  fill: rgba(0, 0, 0, 0.25);
  padding-top: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s; }
  #add:hover {
    fill: rgba(0, 0, 0, 0.65);
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s; }

#remove {
  display: inline-block;
  fill: rgba(0, 0, 0, 0.25);
  padding-top: 9px;
  margin-left: -2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s; }
  #remove:hover {
    fill: rgba(0, 0, 0, 0.65);
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s; }

#download {
  display: inline-block;
  fill: rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  margin-left: -5px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s; }
  #download:hover {
    fill: rgba(0, 0, 0, 0.65);
    -webkit-transition: fill 0.3s;
    transition: fill 0.3s; }
  #download svg {
    padding-top: 5px;
    width: 29px; }
