/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #000; }

#wrapper {
  margin: 0 auto;
  height: 100vh; }

/** Textarea **/
textarea {
  height: 100vh;
  width: 61.803398875%;
  padding-left: 5.572809vw;
  padding-top: 2.128623625vw;
  padding-right: 5.572809vw;
  background-color: #000;
  float: left;
  line-height: 1.38196601125;
  font-size: 1.2360679775vw;
  color: #bbb;
  margin: 0 auto;
  display: block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  focus-outline: none;
  focus-box-shadow: none;
  outline: none;
  overflow: -moz-scrollbars-none; }
  textarea::-webkit-scrollbar {
    width: 0 !important; }

/** Nav **/
#navigation {
  height: 100vh;
  padding-left: 2.128623625vw;
  padding-right: 2.128623625vw;
  padding-top: 1.315561749vw;
  background-color: #000;
  min-height: 100%;
  width: calc(100% - 61.803398875%);
  float: left;
  color: rgba(51, 85, 85, 0.82);
  font-size: 17px;
  overflow: scroll;
  text-align: right; }
  #navigation::after {
    clear: both;
    content: "";
    display: table; }

/** Tabs **/
#tabs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: relative;
  top: -7px; }
  #tabs::after {
    clear: both;
    content: "";
    display: table; }

.tab {
  cursor: pointer;
  display: inline-block;
  padding: 7px 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.17s;
  transition: all 0.17s; }
  .tab:before {
    content: '/';
    left: -10px; }
  .tab:hover {
    color: #335555;
    -webkit-transition: all 0.17s;
    transition: all 0.17s; }

.tab.active {
  color: red; }

#actions {
  cursor: pointer; }

#add {
  fill: rgba(51, 85, 85, 0.82);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 3px;
  top: 5px; }

#remove {
  fill: rgba(51, 85, 85, 0.82);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 6px;
  top: 30px; }

#download {
  fill: rgba(51, 85, 85, 0.82);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 5px;
  top: 54px; }

#type {
  fill: rgba(51, 85, 85, 0.82);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 5px;
  top: 86px; }

/** Font changer **/
.menlo textarea {
  font-family: 'menlo', monospace; }

.menlo #navigation {
  font-family: 'menlo', monospace; }

.monospace textarea {
  font-family: monospace; }

.monospace #navigation {
  font-family: monospace; }

.cousine textarea {
  font-family: 'Cousine', monospace; }

.cousine #navigation {
  font-family: 'Cousine', monospace; }

.robo textarea {
  font-family: 'Roboto Mono', monospace; }

.robo #navigation {
  font-family: 'Roboto Mono', monospace; }
